* {
  background-color: #D9D9D9;
  
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.nav > .nav-header {
  display: inline;
}

.nav-title {
  font-family: "Abril Fatface", serif;
  font-weight: bold;
  color: #002116;
  font-size: 2rem;
  margin-left: 50px;
}

.nav > .nav-mobile > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  margin: 0px;
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content:center;
}

.nav .nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #667A73;;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  gap: 10px;
  transition: 0.5s ease-in-out;
}

.nav .nav-links a:hover > svg path, .nav .nav-links a:hover {
  fill: #002116; /* This style overrides on hover */
  color: #002116;
  transition: 0.5s ease-in-out;
}


.nav .nav-links .Active {
  color: #002116;
}

.nav > #nav-check {
  display: none;
}

.BottomNavigation {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex-direction: row;
  width: 100%;
  gap: 0px;
  margin-top: 200px;
  border-radius: 16px 16px 0px 0px;
  height: fit-content;
  box-shadow: 0px -4px 28.7px 0px rgba(0, 33, 22, 0.40);
}

.BottomNavigationElement {
  padding-top: 20px;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: #667A73;;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10px;
  gap: 0px;
  transition: 0.5s ease-in-out;
  background-color: transparent;
}

.BottomNavigationElementActive p, .BottomNavigationElementActive svg, .BottomNavigationElement p, .BottomNavigationElement svg {
  background-color: transparent;
}

.BottomNavigationElementActive {
  padding-top: 20px;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10px;
  gap: 0px;
  transition: 0.5s ease-in-out;
  color: #ffffff;
  background-color: #002116;
}

.BottomNavigationElementActive svg path {
  fill: #ffffff;
  background-color: #002116;
}

  .First {
  border-radius: 16px 0px 0px 0px;
}

  .Last {
  border-radius: 0px 16px 0px 0px;
}

  .NoCorners {
  border-radius: 0px 0px 0px 0px;
  }



.container2 {
  display: flex;
  overflow:scroll;
  padding: 8px;
  width: 96%;
  animation: fadeIn 1s ease-in-out;

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    background-color: transparent;
    margin: 8px;
    transition: 0.3s all;
    width: 300px;
    height: 300px;


    img {
      height: 100%;
      border-radius: 16px;
      cursor: pointer;
      filter: contrast(90%);
      transition: 0.3s all;

      &:hover {
        filter: contrast(100%);
      }
    }
    &:hover {
      transform: translateY(-15px);
      transition: 0.35s;
    }
  }

  .item2 {
    background-color: transparent;
    margin: 8px;
    transition: 0.3s all;
    width: fit-content;
    height: 300px;


    img {
      height: 100%;
      border-radius: 16px;
      cursor: pointer;
      filter: contrast(90%);
      transition: 0.3s all;

      &:hover {
        filter: contrast(100%);
      }
    }
    &:hover {
      transform: translateY(-10px);
      transition: 0.35s;
    }
  }
}

.boite {
  display: flex;
  width: 95%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  animation: fadeIn 1s ease-in-out;
}

.container5 {
  box-sizing: border-box;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 16px 0px;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  gap: 10px;
  animation: fadeIn 1s ease-in-out;
}

.itemAnimated {
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  animation: fadeIn 1s ease-in-out;
}

.Podcast1 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 0), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-QueerStories.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Podcast1 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 1), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-QueerStories.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}



.Podcast2 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 0), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-RencontresInattendues.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Podcast2 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 1), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-RencontresInattendues.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}


.Podcast3 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 0), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-GrosPlan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Podcast3 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 1), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-GrosPlan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}



.Podcast4 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 0), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-LectureClub.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Podcast4 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 1), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-LectureClub.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}


.Podcast5 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 0), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-AVoixHaute.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Podcast5 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 1), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-AVoixHaute.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}


.Podcast6 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 0), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-ParolesQueer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Podcast6 {
  background-image:
    linear-gradient(to top, rgba(83, 17, 88, 1), rgba(83, 17, 88, 0)),
    url("./src/Img/Cover-Podcasts-ParolesQueer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}



.Slaylist1 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 0), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN01.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Slaylist1 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 1), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN01.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}



.Slaylist2 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 0), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN02.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Slaylist2 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 1), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN02.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}


.Slaylist3 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 0), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN03.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Slaylist3 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 1), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN03.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}



.Slaylist4 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 0), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN04.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Slaylist4 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 1), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN04.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}


.Slaylist5 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 0), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN05.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Slaylist5 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 1), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN05.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}


.Slaylist6 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 0), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN06.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.itemAnimated:hover > .Slaylist6 {
  background-image:
    linear-gradient(to top, rgba(17, 33, 88, 1), rgba(17, 33, 88, 0)),
    url("./src/Img/SlaylistN06.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 300px; 
  width: 300px; 
  background-color: transparent;
  justify-content: flex-end;
}

.content .Nom {
  background-color: transparent;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-left: 20px;
  margin: 0px;
  opacity: 0;
}
.content .Desc {
  background-color: transparent;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-left: 20px;
  padding-bottom: 5px;
  margin: 0px;
  opacity: 0;
}

.content .buttonAccueil {
  background-color: #ffffff;
  color: #531158;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 0;
  font-style: normal;
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 30px;
  opacity: 0;
  transition: 0.8s ease-in-out;
  margin-left: 20px;
  margin-bottom: 20px;
  width: fit-content;
}

.content .buttonAccueil2 {
  background-color: #ffffff;
  color: #112158;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 0;
  font-style: normal;
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 30px;
  opacity: 0;
  transition: 0.8s ease-in-out;
  margin-left: 20px;
  margin-bottom: 20px;
  width: fit-content;
}


.itemAnimated:hover {
  transform: translateY(-15px);
  transition: 0.5s ease-in-out;
}

.itemAnimated:hover > .content .Nom, .itemAnimated:hover > .content .Desc, .itemAnimated:hover > .content button{
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.container6 {
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex-direction: row;
  width: 95%;
  height: fit-content;
  margin-top: 30px;
  animation: fadeIn 1s ease-in-out;
}



.container6 img {
  height: 300px;
  border-radius: 16px;
  cursor: pointer;
  filter: contrast(90%);
  transition: 0.3s all;

  &:hover {
    transform: translateY(-15px);
    transition: 0.5s ease-in-out;
  }
}



.button {
  background-color: #002116;
  color: #D9D9D9;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-right: 50px;
  height: 50px;
  transition: 0.5s ease-in-out;
}

.button p {
  background-color: transparent;
}

.button:hover {
  scale: 0.98;
  background-color: #002116d7;
  transition: 0.5s ease-in-out;
}

.buttonPodcast {
  background-color: #531158;
  color: #D9D9D9;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-right: 50px;
  height: 50px;
  transition: 0.5s ease-in-out;
}

.buttonPodcast p {
  background-color: transparent;
}

.buttonPodcast:hover {
  scale: 0.98;
  background-color: #53115880;
  transition: 0.5s ease-in-out;
}

.buttonSlaylist {
  background-color: #112158;
  color: #D9D9D9;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-right: 50px;
  height: 50px;
  transition: 0.5s ease-in-out;
}

.buttonSlaylist p {
  background-color: transparent;
}

.buttonSlaylist:hover {
  scale: 0.98;
  background-color: #11215880;
  transition: 0.5s ease-in-out;
}

.buttonSecondary {
  background-color: transparent;
  color: #002116;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-right: 50px;
  height: 50px;
  transition: 0.5s ease-in-out;
}

.buttonSecondary p {
  background-color: transparent;
}

.buttonSecondary:hover {
  scale: 0.98;
  color: #002116d7;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}

.Player {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0;
  z-index: 900;
  transition: 1s ease-in-out;
}

.Player2 {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0;
  z-index: 900;
  transition: 1s ease-in-out;
}


.Titre {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 95%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #002116;
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;
  animation: fadeIn 1s ease-in-out;
}

.PresentationTitre {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 95%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #002116;
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0;
  animation: fadeIn 1s ease-in-out;
}

.Button {
  background-color: #002116;
  color: #D9D9D9;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95%;
  height: fit-content;
  background-color: white;
  border-radius: 16px;
}

.Left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  width: 800px;
  background-color: transparent;
  gap: 0px;
}

.Left p {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  background-color: transparent;
}

.Right {
  display: flex;
  width: 50%;
  background-image: url(./src/Img/Header.png);
  min-height: 350PX; /* Set minimum height to 100% of viewport height */
  flex-grow: 1; /* Allow the container to grow and fill available space */
  align-items: stretch; /* Stretch flex items to fill available height */
  border-radius: 0px 16px 16px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Right1 {
  display: flex;
  width: 50%;
  background-image: url(./src/Img/BannerQulture.jpg);
  min-height: 350PX; /* Set minimum height to 100% of viewport height */
  flex-grow: 1; /* Allow the container to grow and fill available space */
  align-items: stretch; /* Stretch flex items to fill available height */
  border-radius: 0px 16px 16px 0px;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.Right2 {
  display: flex;
  width: 50%;
  background-image: url(./src/Img/BannerMusic.jpg);
  min-height: 350PX; /* Set minimum height to 100% of viewport height */
  flex-grow: 1; /* Allow the container to grow and fill available space */
  align-items: stretch; /* Stretch flex items to fill available height */
  border-radius: 0px 16px 16px 0px;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.Right3 {
  display: flex;
  width: 50%;
  background-image: url(./src/Img/LogoPatern.png);
  min-height: 350PX; /* Set minimum height to 100% of viewport height */
  flex-grow: 1; /* Allow the container to grow and fill available space */
  align-items: stretch; /* Stretch flex items to fill available height */
  border-radius: 0px 16px 16px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.Right4 {
  display: flex;
  width: 50%;
  background-image: url(./src/Img/Cover-Podcasts-QueerStoriesBanner.jpg);
  min-height: 350PX; /* Set minimum height to 100% of viewport height */
  flex-grow: 1; /* Allow the container to grow and fill available space */
  align-items: stretch; /* Stretch flex items to fill available height */
  border-radius: 0px 16px 16px 0px;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.Right5 {
  display: flex;
  width: 100%;
  background-image: url(./src/Img/SlaylistN01.png);
  min-height: 350PX; /* Set minimum height to 100% of viewport height */
  flex-grow: 1; /* Allow the container to grow and fill available space */
  align-items: stretch; /* Stretch flex items to fill available height */
  border-radius: 0px 16px 16px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Right6 {
  display: flex;
  width: 50%;
  background-image: url(./src/Img/Cover-Podcasts-ParolesQueer.jpg);
  min-height: 350PX; /* Set minimum height to 100% of viewport height */
  flex-grow: 1; /* Allow the container to grow and fill available space */
  align-items: stretch; /* Stretch flex items to fill available height */
  border-radius: 0px 16px 16px 0px;
  background-position: 25% 93%;
  background-repeat: no-repeat;
  background-size: cover;
}

.Network {
  display: flex; 
  background-color: transparent; 
  margin-left: 36px; 
  align-items: center; 
  gap: 10px;
}

.Network:hover > svg {
  cursor: pointer;
}

.Network2 {
  display: flex; 
  background-color: transparent; 
  margin-left: 36px; 
  align-items: center; 
  gap: 10px;
}

.Networ2:hover > svg {
  cursor: pointer;
}





.Desc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #002116;
  font-size: 1rem;
}

.PresentationText{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #002116;
  font-size: 1rem;
  display: flex;
  width: 95%;
  text-align: justify;
  animation: fadeIn 1s ease-in-out;
}


.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: fit-content;
  gap: 40px;
  margin-bottom: 50px;
}


.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95%;
  height: fit-content;
  gap: 40px;
  margin-bottom: 50px;
  animation: fadeIn 1s ease-in-out;
}


.Episode {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap : 20px;
  transition: 0.35s;
  background-color: transparent;
}

.Playlist {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap : 20px;
  transition: 0.35s;
  background-color: transparent;
}

.EpisodeActive{
  transition: 0.35s;
}

.EpisodeActive:hover {
  transform: translateX(20px);
  transition: 0.35s;
  cursor: pointer;
}



.Content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
  height: fit-content;
  height: 100%;
}

.Content2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
  height: fit-content;
  height: 100%;
  gap: 0px;
}


.TitreEpisode {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #531158;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.TitreEpisode2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #112158;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.BottomNavigation > div {
  display: none;
}

.Bas {
  margin-bottom: 100px;
}
.Bas2 {
  margin-bottom: 200px;
}



@media (max-width:1080px) {

  .TitreEpisode2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #112158;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .Content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    height: 100%;
  }

  .container6{
  display: flex;
  overflow:scroll;
  padding: 8px;
  width: 95%;
  margin-top: 5px;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }

  & .item2 img {
    height: 200px;
    margin:  8px;
  }
}

  .itemAnimated {
    width: 200px;
    height: 200px;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 200px; 
    width: 200px; 
    background-color: transparent;
    justify-content: flex-end;
    padding-right: 20px;
  }

  .content .Nom {
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 20px;
    margin: 0px;
    opacity: 0;
  }
  .content .Desc {
    background-color: transparent;
    color: #ffffff;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-left: 20px;
    padding-bottom: 5px;
    margin: 0px;
    opacity: 0;
  }
  
  .content .buttonAccueil {
    background-color: #D9D9D9;
    color: #002116;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 0;
    font-style: normal;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    height: 30px;
    opacity: 0;
    transition: 0.8s ease-in-out;
    margin-left: 20px;
    margin-bottom: 20px;
    width: fit-content;
  }

  .content .buttonAccueil2 {
    background-color: #D9D9D9;
    color: #112158;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 0;
    font-style: normal;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    height: 30px;
    opacity: 0;
    transition: 0.8s ease-in-out;
    margin-left: 20px;
    margin-bottom: 20px;
    width: fit-content;
  }

  .Player {
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 79px;
    z-index: 900;
    transition: 1s ease-in-out;
    box-shadow: 0px -4px 28.7px 0px rgba(0, 33, 22, 0.40);
  }

  .Player2 {
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 79px;
    z-index: 900;
    transition: 1s ease-in-out;
    box-shadow: 0px -4px 28.7px 0px rgba(0, 33, 22, 0.40);
  }

  .Bas {
    margin-bottom: 100px;
  }
  .Bas2 {
    margin-bottom: 200px;
  }
  
  .BottomNavigation > div {
    display: flex;
  }

  .BottomNavigation2 {
    box-shadow: none;
    border-radius: 0px;
  }

  .nav > .nav-links {
    display: none;
  }

  .nav-title {
    font-family: "Abril Fatface", serif;
    font-weight: bold;
    color: #002116;
    font-size: 1.5rem;
    margin-left: 10px;

  }

  .nav {
    width: 95%;
  }


  .container2 .item {
    background-color: transparent;
    margin: 8px;
    transition: 0.3s all;
    width: 200px;
    height: 200px;


    img {
      height: 100%;
      border-radius: 16px;
      cursor: pointer;
      filter: contrast(90%);
      transition: 0.3s all;
    }
  }

  .container2 .item2 {
    background-color: transparent;
    margin: 8px;
    transition: 0.3s all;
    height: 200px;


    img {
      height: 100%;
      border-radius: 16px;
      cursor: pointer;
      filter: contrast(90%);
      transition: 0.3s all;
    }
  }

  .Titre {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 89%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #002116;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .PresentationTitre {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 93%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #002116;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s ease-in-out;
  }

  .PresentationText{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #002116;
    font-size: 0.8rem;
    display: flex;
    width: 93%;
    text-align: justify;
    animation: fadeIn 1s ease-in-out;
  }




  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 95%;
    height: fit-content;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .Left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    background-color: transparent;
    gap: 0px;
  }
  
  .Left p {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
  }
  
  .Right {
    display: flex;
    width: 100%;
    background-image: url(./src/Img/Header.png);
    min-height: 350PX; /* Set minimum height to 100% of viewport height */
    flex-grow: 1; /* Allow the container to grow and fill available space */
    align-items: stretch; /* Stretch flex items to fill available height */
    border-radius: 16px 16px 0px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Right1 {
    display: flex;
    width: 100%;
    background-image: url(./src/Img/BannerQulture.jpg);
    min-height: 350PX; /* Set minimum height to 100% of viewport height */
    flex-grow: 1; /* Allow the container to grow and fill available space */
    align-items: stretch; /* Stretch flex items to fill available height */
    border-radius: 16px 16px 0px 0px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Right2 {
    display: flex;
    width: 100%;
    background-image: url(./src/Img/BannerMusic.jpg);
    min-height: 350PX; /* Set minimum height to 100% of viewport height */
    flex-grow: 1; /* Allow the container to grow and fill available space */
    align-items: stretch; /* Stretch flex items to fill available height */
    border-radius: 16px 16px 0px 0px;
    background-position:bottom left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Right3 {
    display: flex;
    width: 100%;
    background-image: url(./src/Img/LogoPatern.png);
    min-height: 350PX; /* Set minimum height to 100% of viewport height */
    flex-grow: 1; /* Allow the container to grow and fill available space */
    align-items: stretch; /* Stretch flex items to fill available height */
    border-radius: 16px 16px 0px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Right4 {
    display: flex;
    width: 100%;
    background-image: url(./src/Img/Cover-Podcasts-QueerStoriesBanner.jpg);
    min-height: 350PX; /* Set minimum height to 100% of viewport height */
    flex-grow: 1; /* Allow the container to grow and fill available space */
    align-items: stretch; /* Stretch flex items to fill available height */
    border-radius: 16px 16px 0px 0px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Right6 {
    display: flex;
    width: 100%;
    background-image: url(./src/Img/Cover-Podcasts-ParolesQueer.jpg);
    min-height: 350PX; /* Set minimum height to 100% of viewport height */
    flex-grow: 1; /* Allow the container to grow and fill available space */
    align-items: stretch; /* Stretch flex items to fill available height */
    border-radius: 16px 16px 0px 0px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Right5 {
    display: flex;
    width: 100%;
    background-image: url(./src/Img/SlaylistN01.png);
    min-height: 350PX; /* Set minimum height to 100% of viewport height */
    flex-grow: 1; /* Allow the container to grow and fill available space */
    align-items: stretch; /* Stretch flex items to fill available height */
    border-radius: 16px 16px 0px 0px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Desc {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #002116;
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1.2;
  }

  .button {
    margin-right: 10px;
  }

  .container2 {
    display: flex;
    overflow:scroll;
    padding: 8px;
    width: 95%;
  }

  .container3 {
    margin-top: 20px;
    padding: 8px;
    width: 95%;
  }

  .container4 {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 95%;
    align-items: center;
    padding: 0;
  }

  .Episode {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap : 20px;
    transition: 0.35s;
    background-color: transparent;
  }
  
  .EpisodeActive:hover {
    transform: translateY(0px);
    transition: 0.35s;
  }

  .buttonPodcast {
    background-color: #531158;
    color: #D9D9D9;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 50px;
    transition: 0.5s ease-in-out;
    display: flex;
    width: 100%;
    margin: 0px;
  }
  
  .buttonPodcast p {
    background-color: transparent;
  }
  
  .buttonPodcast:hover {
    scale: 0.98;
    background-color: #53115880;
    transition: 0.5s ease-in-out;
  }

  .buttonSlaylist {
    background-color: #112158;
    color: #D9D9D9;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-right: 50px;
    height: 50px;
    transition: 0.5s ease-in-out;
    display: flex;
    width: 100%;
    margin: 0px;
  }
  
  .buttonSlaylist p {
    background-color: transparent;
  }
  
  .buttonSlaylist:hover {
    scale: 0.98;
    background-color: #11215880;
    transition: 0.5s ease-in-out;
  }

  .Network2 {
    display: flex; 
    background-color: transparent; 
    align-items: center; 
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin: 0px;
  }

  .Network2 .Episode1 {
    width: 95%;
    margin-bottom: 15px;
  }
  
  
  .Network2:hover > svg {
    cursor: pointer;
  }

  .Network {
    display: flex; 
    background-color: transparent; 
    align-items: center; 
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
    margin: 0px;
    margin-bottom: 15px;
    margin-left: 15px;

  }

}

